* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  overflow: hidden;
  transition: background-color 0.5s;
}


.app-contest {
  display: flex;
  position: relative;
  left: 0;
  transition: left 0.5s;

  &__header {
    margin-bottom: 48px;
  }

  &__content {
    margin-bottom: 72px;
    text-align: center;
  }

  &__slide {
    flex-shrink: 0;
  }

  &__question {
    padding: 60px 30px 30px;
  }

  &__welcome {
    padding: 60px 30px 30px;
  }

  .mint-label__text {
    color: #ffffff;
  }

  .mint-label__icon {
    align-items: center;
  }

  .mint-label {
    margin-bottom: 12px;
  }

  .mint-header-secondary {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 24px;
  }
}

.js-user-avatar-hidden {
  display: none !important;
}
