body {
  padding: 30px;
  margin: 30px 0 0;
}


.app-contest {

  &__header {
    margin-bottom: 48px;
  }

  &__content {
    margin-bottom: 72px;
    text-align: center;
  }

  &__answer-list {
    list-style-type: upper-latin;
  }

}
