body {
  padding: 0;
  margin: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  overflow: hidden;
  transition: background-color 0.5s;
}

.app-contest {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  transition: left 0.5s;
  overflow: hidden;

  &__header {
    margin-bottom: 48px;
  }

  &__content {
    margin-bottom: 24px;
    text-align: center;
  }
  
  &__slides {
    display: flex;
  }

  &__slide {
    width: 100vw;
    flex-shrink: 0;
    padding: 45px 30px 30px;
  }

  &__action {
    margin-top: 48px;
  }

  &__results {
    td, th {
      padding: 4px;
    }

    tr {
      margin-bottom: 8px;
    }
  }

  .mint-label__icon {
    align-items: center;
  }

  .mint-label {
    margin-bottom: 12px;
  }

  .mint-header-secondary {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 24px;
  }
}

.result {
  &__user {
    display: flex;

    .mint-avatar {
      margin-right: 4px;
    }
  }
}
